
body {
  padding: 2em;
}

.jumbotron {
  background: #337ab7;
  color: white;
}

h3, h2 {
  text-align: center;
}

#button-collapse-badge {
  width: 5em;
  letter-spacing: 1em;
}

#file-list {
  padding: 1em;
}

div .upload {
    padding: 0 1em 0  ;
}

.fileinput {
   position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
   filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
}

.upload-button {
  padding: 0 0 1em 0 ;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
}